.app-container {
    background: var(--background-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries for general app styles */
@media (max-width: 768px) {
    .app-container {
        padding: 0;
    }
}
